html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

.bg-work {
  background-color: hsl(130, 60%, 40%);
}
.bg-rest {
  background-color: hsl(35, 100%, 50%);
}
.bg-stop {
  background-color: hsl(230, 40%, 45%);
}

.shepherd-highlight {
  border: 1px solid #000;
  box-shadow: 0 0 0 2px #000;
}